BREVO_API_KEY=votre_cle_brevo
OPENROUTER_API_KEY=votre_cle_openrouter
OPENROUTER_MODEL=z-ai/glm-4.5-air:free
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=votre_email
MAIL_PASSWORD=votre_mot_de_passe
DEFAULT_FROM_EMAIL=votre_email
